#about.row
  %h3.center About
  %p.center
    :markdown
      Grupo peruano interesado en Ruby On Rails. Los usuarios pueden venir y buscar ayuda, anunciar iniciativas y comunicar todo lo relacionado al framework que pueda interesar a la comunidad peruana. Reuniones mensuales anunciadas en el [Google Group](http://groups.google.com.pe/group/rubyonrailsperu).